<form (ngSubmit)="formSubmit.emit(form.value)">
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Name" [formControl]="formModel.name">
    <mat-error *ngIf="formModel.name.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="description" [formControl]="formModel.description"></textarea>
    <mat-hint>Description is optional but should have at 10 Characters</mat-hint>
    <mat-error *ngIf="formModel.description.hasError('minlength')">
      Your description is to short. It should be at least {{formModel.description.errors?.minlength.requiredLength}},
      but you have only {{formModel.description.errors?.minlength.actualLength}} tough.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="date" matInput placeholder="due date" [formControl]="formModel.due">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="email" matInput placeholder="Email" [formControl]="formModel.assignedTo">
    <mat-hint>Assignment is mandatory</mat-hint>
    <mat-error *ngIf="formModel.assignedTo.hasError('email') && !formModel.assignedTo.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="formModel.assignedTo.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
